<!DOCTYPE html>
<html lang="en">
<head>
    <title>Odoo Internal Data Import Tool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script>
        function render_extra_inputs(){
            var type = document.getElementById("type_select").value
            var displayType1;
            var displayType2
            if (type == "2"){
                displayType1 = "block"
                displayType2 = "none"
            } else if (type == "1"){
                displayType1 = "none"
                displayType2 = "block"
            }
            document.getElementById("attribute_div").style.display = displayType1
            document.getElementById("value_div").style.display = displayType1
            document.getElementById("productid_div").style.display = displayType1
            document.getElementById("children_columns_div").style.display = displayType2
        }
    </script>
</head>
<body>
    <div id="parent_child_form">
        <form action="/" method="POST" id="parent_child_form" enctype="multipart/form-data">
            <div class="ms-4 mt-3">
                <label for="type_select" class="form-label">Which format is this data in? </label>
                <select name="type" onchange="render_extra_inputs()" id="type_select" class="form-select">
                    <option value="1"> Attributes and values in seperate columns </option>
                    <option value="2"> Attributes and values have assigned columns </option>
                </select>
            </div>
            <button type="button" class="btn btn-primary ms-4 mt-2"> <a href="../dirtydata/dirtydata.csv" download="dirtydata.csv"> Seperate Columns Example </a> </button>
            <button type="button" class="btn btn-primary ms-4 mt-2">Assigned Columns Example</button>
            <div class="ms-4 mt-3">
              <label for="parent_columns" class="form-label">Parent Columns</label>
              <input type="text" class="form-control" id="parent_columns" name="parent_columns">
            </div>
            <div class="ms-4" id="children_columns_div">
                <label for="children_columns" class="form-label">Children Columns</label>
                <input type="text" class="form-control" id="children_columns" name="children_columns">
            </div>
            <div class="ms-4">
                <label for="username" class="form-label">User</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="ms-4">
                <label for="api_key" class="form-label">API Key</label>
                <input type="text" class="form-control" id="api_key" name="api_key">
            </div>
            <div class="ms-4">
                <label for="url" class="form-label">URL</label>
                <input type="text" class="form-control" id="url" name="url">
            </div>
            <div class="ms-4">
                <label for="db" class="form-label">Database</label>
                <input type="text" class="form-control" id="db" name="db">
            </div>
            <div class="ms-4">
                <label for="model" class="form-label">Model Name</label>
                <input type="text" class="form-control" id="model" name="model">
            </div>
            <div class="ms-4" id="productid_div" style="display:none">
                <label for="productid" class="form-label">Product ID</label>
                <input type="text" class="form-control" id="productid" name="productid">
            </div>
            <div class="ms-4" id="attribute_div" style="display:none">
                <label for="attribute" class="form-label">Attribute</label>
                <input type="text" class="form-control" id="attribute" name="attribute">
            </div>
            <div class="ms-4" id="value_div" style="display:none">
                <label for="value" class="form-label">Value</label>
                <input type="text" class="form-control" id="value" name="value">
            </div>
            <div class="ms-4">
                <label for="data_file" class="form-label">Upload your dirty data</label>
                <input type="file" class="form-control" id="data_file" name="data_file">
            </div>
            <button class="btn btn-primary ms-4 mt-2" type="submit">Upload</button>
        </form>
    </div>

</body>
</html>